.thePanel {
    text-align:center;
    margin-top:80px;
    margin-bottom:0px;
    padding:0px;
    }

h2 {
	text-align: center;
	padding: 5px 0px 0px 0px;
}

h2 span {
	clear: both;
	color: white;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 3.5px;
	text-align: center;
}

h3 {
	text-align: center;
}

h3 span {
	clear: both;
	color: white ;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 45px;
	letter-spacing: 1px;
	text-align: center;
}

ul {
	text-align: center;
	padding: 0px 0px 10px 0px;
}

ul span {
	clear: both;
	color: #C0C0C0 ;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 1px;
	list-style: none;
	padding: 5px 0px;
	text-align: center;
}

.leftleg {
    text-align:right;
    margin-bottom:0px;
    padding:0px;
}

.rightleg {
	text-align:left;
    margin-bottom:0px;
    padding:0px;
}

