.thePanel {
    text-align:center;
    margin-top:100px;
    margin-bottom:0px;
    padding:0px;
    }

h2 {
	text-align: center;
	padding: 0px 0px 15px 0px;
}

h2 span {
	clear: both;
	color: white;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 50px;
	letter-spacing: 3px;
	text-align: center;
}