.thePanel {
    text-align:center;
    margin-top:80px;
    margin-bottom:0px;
    padding:0px;
    }

h2 {
	text-align: center;
	padding: 5px 0px 0px 0px;
}

h2 span {
	clear: both;
	color: white;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 3.5px;
	text-align: center;
}

h3 {
	text-align: center;
}

h3 span {
	clear: both;
	color: white ;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 38px;
	letter-spacing: 1px;
	text-align: center;
}

ul {
	text-align: center;
	padding: 0px 0px 15px 0px;
}

ul span {
	clear: both;
	color: #C0C0C0 ;
	display: inline-block;
	font-family: 'Overlock', cursive;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 1px;
	list-style: none;
	padding: 0px 0px;
	text-align: center;
}

.iconRow {
    text-align:center;
    margin-bottom:0px;
    margin-top: 10px;
    padding:0px;
}

footer {
	font-color: white;
	font-family: 'Overlock', cursive;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 40px;
}

